## read in data

In [2]:
import pandas as pd

In [3]:
crime_df = pd.read_csv("/Users/fabiolarojas/Documents/data-science/dtsc3601-2/project-3601/crimedata2.csv", encoding='ISO-8859-1')
crime_df.head()

,Êcommunityname,state,countyCode,communityCode,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,...,burglaries,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons,arsonsPerPop,ViolentCrimesPerPop,nonViolPerPop
0,BerkeleyHeightstownship,NJ,39,5320,1,11980,3.10,1.37,91.78,6.50,...,14,114.85,138,1132.08,16,131.26,2,16.41,41.02,1394.59
1,Marpletownship,PA,45,47616,1,23123,2.82,0.80,95.57,3.44,...,57,242.37,376,1598.78,26,110.55,1,4.25,127.56,1955.95
2,Tigardcity,OR,?,?,1,29344,2.43,0.74,94.33,3.43,...,274,758.14,1797,4972.19,136,376.3,22,60.87,218.59,6167.51
3,Gloversvillecity,NY,35,29443,1,16656,2.40,1.70,97.35,0.50,...,225,1301.78,716,4142.56,47,271.93,?,?,306.64,?
4,Bemidjicity,MN,7,5068,1,11245,2.76,0.53,89.16,1.17,...,91,728.93,1060,8490.87,91,728.93,5,40.05,?,9988.79

In [4]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2215 entries, 0 to 2214
Columns: 147 entries, Êcommunityname to nonViolPerPop
dtypes: float64(75), int64(29), object(43)
memory usage: 2.5+ MB

In [5]:
crime_df.describe()

,fold,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,agePct12t29,agePct16t24,...,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,LemasPctOfficDrugUn,murders,murdPerPop
count,2215.000000,2.215000e+03,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,...,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000,2215.000000
mean,5.494357,5.311798e+04,2.707327,9.335102,83.979819,2.670203,7.950176,14.445837,27.644840,13.975142,...,61.539630,51.538596,77.411079,88.111865,27.419955,2783.835034,3.041124,0.980163,7.764786,5.859296
std,2.872924,2.046203e+05,0.334120,14.247156,16.419080,4.473843,14.589832,4.518623,6.181517,5.970747,...,16.750061,10.517926,10.878186,7.287836,109.822600,2828.993341,4.912917,2.877128,58.166468,9.156829
min,1.000000,1.000500e+04,1.600000,0.000000,2.680000,0.030000,0.120000,4.580000,9.380000,4.640000,...,6.750000,11.830000,27.950000,32.830000,0.900000,10.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,1.436600e+04,2.500000,0.860000,76.320000,0.620000,0.930000,12.250000,24.415000,11.320000,...,50.110000,44.995000,72.060000,85.200000,7.300000,1181.900000,0.360000,0.000000,0.000000,0.000000
50%,5.000000,2.279200e+04,2.660000,2.870000,90.350000,1.230000,2.180000,13.620000,26.780000,12.540000,...,64.490000,52.170000,79.490000,90.030000,13.700000,2027.300000,1.220000,0.000000,1.000000,2.170000
75%,8.000000,4.302400e+04,2.850000,11.145000,96.225000,2.670000,7.810000,15.360000,29.205000,14.345000,...,74.855000,58.740000,85.135000,93.010000,26.100000,3321.700000,3.365000,0.000000,3.000000,8.365000
max,10.000000,7.322564e+06,5.280000,96.670000,99.630000,57.460000,95.290000,54.400000,70.510000,63.620000,...,93.140000,78.560000,96.590000,99.900000,3569.800000,44229.900000,54.330000,48.440000,1946.000000,91.090000

## filter columns

In [6]:
attributes = ['population', 
              'PopDens', 
              'numbUrban', 
              'pctUrban', 
              'medIncome', 
              'MedRent', 
              'PctHousOccup', 
              'PctHousOwnOcc', 
              'PersPerOwnOccHous', 
              'PersPerRentOccHous'
              ]
filtered_crime_df = crime_df[attributes]
filtered_crime_df

,population,PopDens,numbUrban,pctUrban,medIncome,MedRent,PctHousOccup,PctHousOwnOcc,PersPerOwnOccHous,PersPerRentOccHous
0,11980,1845.9,11980,100.00,75122,1001,98.37,91.01,3.00,2.84
1,23123,2186.7,23123,100.00,47917,627,97.15,84.88,2.83,1.96
2,29344,2780.9,29344,100.00,35669,484,95.68,57.79,2.69,2.06
3,16656,3217.7,0,0.00,20580,333,91.19,54.89,2.51,2.20
4,11245,974.2,0,0.00,17390,332,92.45,53.57,2.55,2.12
...,...,...,...,...,...,...,...,...,...,...
2210,56216,3365.4,56216,100.00,24727,438,96.40,44.63,2.83,3.19
2211,12251,1682.8,12251,100.00,20321,330,89.72,54.24,2.58,2.39
2212,32824,1195.2,32824,100.00,27182,514,93.30,76.81,2.37,2.67
2213,13547,2142.2,0,0.00,19899,316,85.39,58.39,2.93,2.73
2214,28898,1331.0,28664,99.19,23287,426,94.85,55.68,2.45,2.76

In [7]:
filtered_crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2215 entries, 0 to 2214
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   population          2215 non-null   int64
 1   PopDens             2215 non-null   float64
 2   numbUrban           2215 non-null   int64
 3   pctUrban            2215 non-null   float64
 4   medIncome           2215 non-null   int64
 5   MedRent             2215 non-null   int64
 6   PctHousOccup        2215 non-null   float64
 7   PctHousOwnOcc       2215 non-null   float64
 8   PersPerOwnOccHous   2215 non-null   float64
 9   PersPerRentOccHous  2215 non-null   float64
dtypes: float64(6), int64(4)
memory usage: 173.2 KB

In [8]:

filtered_crime_df[filtered_crime_df == "?"].any(axis=1).sum()

0

In [9]:
filtered_crime_df.to_csv('filtered_crime_df.csv', index=False)

## baseline